# .gitignore for Python projects

# Virtual Environment
venv/

# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Test files
test.py
test.json

# SQLite database files
*.sqlite

# IDE-specific files
.idea/
.vscode/

# Miscellaneous
*.pyc
.DS_Store
